html{
	font-size: 100%; /*allows user to control the zoom level*/
	box-sizing: border-box; /*include padding to elements in the final width*/
}


*, *::before, *::after {
	box-sizing: inherit;  /*allows elements to inherit box-sizing*/
}

body {
	/*just adding more spacing*/
	margin: 0; 
	padding: 0;
	font-family : 'Public Sans', sans-serif;
	line-height: 1.3; 
	font-size: $med; /*18px/16 = 1.125 rem*/
	font-weight: 300;
	color: $grayishBlue;
}

a, a:visited, a:hover{
	text-decoration: none;
	
}



/*Flexbox for navigation menu and logo on mobile version*/
.flex{
	display: flex;
	
	&-jc-sb{
		justify-content: space-between;
	}
	
	&-jc-c{
		justify-content: center;
	}
	
	&-ai-c{
		align-items: center;
	}
}

//Buttons class and tag
button, .button{
	padding: $small $large;/*14px/16=0.875rem 33px/16 = 2.0625*/
	border-radius: 50px;
	cursor: pointer;
	background: linear-gradient(to right, $limeGreen, $brightCyan);
	border: 0;
	color: $white;
	font-weight: 400; 
	
}

//visibility on different devices
.hide-for-mobile{
	/*hide for tablet and mobile*/
}

.hide-for-desktop{
	/*hide for desktop viewport widths*/
	
}





















